<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeveloperForce.Force" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.7" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.7" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.7" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net472" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.7" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.7" targetFramework="net472" developmentDependency="true" />
  <package id="net.sf.mpxj" version="7.9.3" targetFramework="net472" />
  <package id="net.sf.mpxj-common" version="7.9.3" targetFramework="net472" />
  <package id="net.sf.mpxj-ikvm" version="7.9.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
</packages>